html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.graph_container {
  clear: left;
  margin: 20px auto;
  position: relative;
  top: 10px;
  text-align: center;
  white-space: nowrap;
}
.graph_container > * {
  vertical-align: middle;
}
.graph {
  display: inline-block;
  transform:translate(-275px);
  -ms-transform:translate(-275px);
  -moz-transform:translate(-275px);
  -webkit-transform:translate(-275px);
  -o-transform:translate(-275px);
}
#graph_title {
  text-align: left;
  clear: left;
  font-weight: bold;
  background-color: #3572b0;
  margin: 5px 0px 5px 0px;
  padding: 10px 5px 10px 10px;
  border-radius: 10px;
  color:white;
}
#graph_title ul {
  list-style-type:none;
  padding: 0;
  margin: 0;
}
#graph_title ul li {
  padding: 5px;
  margin: 5px 0px 5px 5px;
  background-color:white;
  color:#3572b0;
  border-radius:5px;
  display:inline-block;
}
.error {
  color: red;
}
canvas.flot-base {
  background: white;
}
form[name="optionsForm"] {
  text-align: left;
}
form[name="optionsForm"] option:checked {
  box-shadow: 0px 0px 10px 100px #3572b0 inset;
}
#axes_selectors {
  margin: 10px 0px 10px 0px;
  height: 70px;
}
#xaxis, #yaxis {
  margin-right: 5px;
  height: 100%;
}
#xaxis b, #yaxis b, #xaxis select, #yaxis select {
  display:inline-block;
  vertical-align:middle;
}
.filter_table_container {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}
.filter_table {
  flex: 1 1 auto;
  table-layout: fixed;
  display:inline-block;
  margin: 2px;
  padding: 0px 5px 0px 5px;
  background-color:#3572b0;
  border:0;
  border-collapse: separate;
  border-spacing: 0px 5px;
  border-radius: 5px;
}
.filter_table tbody {
  display: table;
  width: 100%;
}
.filter_table th, .filter_table td {
  border: 0;
  background-color: white;
  border-radius:3px;
}
.filter_table th {
  text-align:center;
}
.filterselect {
  display: block;
  margin: auto;
  width: 100%;
}
.multiselect {
  width: 100%;
  text-align: right;
  border: 0;
}
.tooltip {
  position: absolute;
  display: none;
  border: 1px solid #fdd;
  padding: 2px;
  background-color: #fee;
  opacity: 0.60;
}
.tooltip table {
  float: left;
}
.tooltip th {
  text-align: right;
}
.tooltip img {
  float: right;
  cursor: pointer;
}
.som {
  font-size: 120%;
  margin-bottom: 15px;
}
.som a {
  color: #3572b0; 
}
.som_name {
  font-weight: bold;
}
#reset_config, #get_img, #get_tinyurl, #tinyurl, #toggle_filters, #stop_plotting, #redraw, #progress_img {
  display:inline-block;
}
#get_img, #progress_img {
  display: none;
}
#progress_img {
  padding: 5px 5px 5px 5px;
  margin: 0;
  vertical-align:top;
}
#tinyurl {
  color: #3572b0;
  padding: 3px;
  font-weight: bold;
}
.xaxis {
  text-align: center;
  height: 50px;
  vertical-align: top;
  margin-top: 20px;
}
.yaxis {
  display: inline-block;
  width: 550px;
  text-align: center;
  transform:rotate(-90deg);
  -ms-transform: translateX(-60px) rotate(-90deg); /* IE 9 */
  -moz-transform: translateX(-60px) rotate(-90deg); /* Firefox */
  -webkit-transform: translateX(-60px) rotate(-90deg); /* Safari and Chrome */
  -o-transform: translateX(-60px) rotate(-90deg); /* Opera */
  white-space: normal;
}
.specific_graph_options {
  display: inline-block;
  vertical-align: top;
  float: right;
}
.specific_graph_options div {
  display: inline-block;
  padding-left: 8px;
}
.clear {
  clear: both;
}

a {
  text-decoration: none;
  border-style: none;
  outline:0;
}

.title {
  margin:auto;
  width:256px;
  text-align: center;
  margin-top:25px;
  margin-bottom:20px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.title object {
  height: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
  pointer-events: none;
}
.title h3 {
  font-weight: normal;
  width: 100%;
  margin:0;
  display:inline-block;
}
.title a {
  color: #000000;
  display:inline-block;
}

.link_list {
  list-style-type: none;
  margin-bottom: 40px;
  margin-top:0;
  padding:0;
  margin-left:0;
  margin-right:0;
}
.link_list li {
  text-align: center;
  margin:auto;
}
.link_list li a {
  color: #FFFFFF;
  display:inline-block;
  width:100%;
  padding: 15px 0 15px 0;
  border-radius:5px;
  margin-bottom:0px;
  margin-top:30px;
}

.link_list.home li {
  width: 420px;
}
.link_list.home li a {
  font-size: 150%;
}
.link_list.som li {
  width: 60vw;
  min-width: 420px;
}
.link_list.som li a {
  font-size: 120%;
}
.link_list.home li a, .link_list.som li a {
  background-color:#3572b0;
}
.link_list.home li a:active, .link_list.som li a:active {
  background-color: #205081;
}
.link_list.no_item li {
  width: 300px;
}
.link_list.no_item li a {
  font-size: 120%;
  background-color:#205081;
}

.import_page.box {
  width: 460px;
  margin: auto;
  text-align:justify;
  border-radius:10px;
  background-color:#3572b0;
  color: #FFFFFF;
  padding: 10px 10px 20px 10px;
  margin-top: 20px;
  font-size: 110%;
}
.import_page.input_label {
  width:100px;
  margin:0px;
  display:inline-block;
}
.import_page.box input[type="text"] {
  width: 230px;
  margin:0px;
  height:25px;
  border:0px;
  border-radius:5px;
  padding-left:5px;
  padding-right:5px;
  padding-top:2px;
  margin-right:8px;
}
.import_page.box input[type="submit"] {
  margin:0px;
  width: 110px;
  border-radius:5px;
  height:25px;
  border:0px;
  background-color:#F9F9F9;
}

.heading {
  font-weight:normal;
  display:block;
  text-align:center;
  margin-top:50px;
  margin-bottom:0px;
  font-size:25px;
  margin:auto;
  width:100%;
}

.chart {
        width: 960px;
        height: 500px; }

circle {
        circle.selected {
          fill: #ff7f0e;
          stroke: #ff7f0e; }
        circle:hover {
          fill: #ff7f0e;
          stroke: #707f0e; }
        circle.selected:hover {
          fill: #ff7f0e;
          stroke: #ff7f0e; }

