html {
  font-family: helvetica;
  font-size: 14px;
}
div#graph {
  clear: left;
  margin: 20px auto;
}
canvas.flot-base {
  background: white;
}
.filter_table {
  table-layout: fixed;
  float: left;
}
.multiselect {
  width: 100%;
  text-align: right;
}
#tooltip {
  position: absolute;
  display: none;
  border: 1px solid #fdd;
  padding: 2px;
  background-color: #fee;
  opacity: 0.60;
}
#tooltip th {
  text-align: right;
}
.som {
  font-size: 120%;
}
.som_name {
  font-weight: bold;
}
#reset_config, #get_img, #get_tinyurl, #tinyurl, #progress_img {
  float: left;
}
#reset_config {
  clear: left;
}
#get_img, #progress_img {
  display: none;
}
